spring:
  config:
    activate:
      on-profile: dev

  cloud:
    gcp:
      secretmanager:
        enabled: true

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    show-sql: false

  flyway:
    clean-disabled: true

logging:
  level:
    com.bankflow: DEBUG
    org.flywaydb: INFO